GROQ_API_KEY=your_groq_key_here
GROQ_MODEL=playai-tts
GROQ_VOICE=Fritz-PlayAI

SMALLEST_API_KEY=your_smallest_key_here
SMALLEST_VOICE_ID=emily

SARVAM_API_KEY=your_sarvam_key_here
SARVAM_SPEAKER=anushka
SARVAM_MODEL=bulbul:v2
SARVAM_LANG=hi-IN
